.menu-card {
  transition: none; /* 預設不過渡 */
  cursor: pointer;
}

.menu-card:hover {
  transform: scale(1.2);
  transition: transform 0.3s cubic-bezier(0,0,0.70,3); /* 只有 hover 時啟用平滑 */
  filter: brightness(0.85); /* 變暗 */
}
.card-text {
  word-break: break-word;
  font-family: "Cute Regular"
}
